<ion-content scrollY="false">
  <div class="main" *ngIf="selectedPage==0">
    <div class="content">
      <ion-row class="header-row">
        <ion-col class="back-button" (click)="backToHome()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-col>
        <ion-col class="header" size="8">
          <span>{{empName}}</span>
          <span>Одбери услуга</span>
        </ion-col>
        <ion-col class="back-button">
        </ion-col>
      </ion-row>
      <ion-row class="card-row">
        <ion-col class="card-wrapper">       
          <div class="card" *ngFor="let service of services" (click)="selection(service.serviceId)" [ngClass]="service.selected ? 'selected-card' : '' ">
            <ion-icon name="checkmark-circle-outline" *ngIf="service.selected == true"></ion-icon>
            <div class="card-desc">
              <span>{{service.name}}</span>
              <span>{{service.price}}ден</span>
            </div>
            <img class="card-img" src="" alt="">
          </div>
        </ion-col>  
      </ion-row>
      <div class="button-section">
        <app-reserve-button [text]="'Продолжи'"></app-reserve-button>
      </div>
    </div>
    <div class="button-section">
      <app-reserve-button [text]="'Продолжи'" (nextStep)="nextStep($event)"></app-reserve-button>
    </div>
  </div>


  <div class="main2" *ngIf="selectedPage==1">
    <div class="content2">
      <ion-row class="header-row">
        <ion-col class="back-button" (click)="back()">
          <ion-icon name="chevron-back-outline" ></ion-icon>
        </ion-col>
        <ion-col class="header" size="8">
          <span>Резервирај</span>
          <span>Одбери датум и време</span>
        </ion-col>
        <ion-col class="back-button">
        </ion-col>
      </ion-row>
      <ion-row class="card-row" style="margin-top: 30px; height: 250px;">
        <ion-col class="card-wrapper2">  
          <ion-datetime presentation="date" mode="ios" size="cover" [(ngModel)]="selectedDate" (ngModelChange)="selectDate($event)"></ion-datetime>
        </ion-col>  
      </ion-row>
      <ion-row class="card-row" style="margin-top: 30px;">
        <ion-col class="card-wrapper2" style="height: 90px;">  
          <span>Време</span>
          <div class="time-select">
            <div class="scroll-wrap" *ngIf="freeSlots!=[]">
              <div class="time-select-item" *ngFor="let time of freeSlots" (click)="selectionTime(time)" id="{{time.id}}">{{time.startHours}}:{{time.startMinutes}}</div>
            </div>
            <div class="scroll-wrap" *ngIf="freeSlots==[]">
              <span>Нема слободен термин за избраниот ден!</span>
            </div>
          </div>
        </ion-col>  
      </ion-row>
      <ion-row style="margin-top: 30px;" class="selected-times">
        <ion-col size="6">
          <span>Датум</span>
          <span class="selected-slot" *ngIf="selectedDateFormatted">{{selectedDateFormatted}}</span>
          <span class="selected-slot" *ngIf="!selectedDateFormatted">/</span>

        </ion-col>
        <ion-col size="6">
          <span>Време</span>
          <span class="selected-slot" *ngIf="selectedSlot!='/'">{{selectedSlot.startHours}} : {{selectedSlot.startMinutes}}</span>
          <span class="selected-slot" *ngIf="selectedSlot=='/'">{{selectedSlot}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" push="3" style="margin-top: 30px;">
          <app-reserve-button [text]="'Резервирај'" (nextStep)="reserve()"></app-reserve-button>
        </ion-col>
      </ion-row>
    </div>
  </div>

   <div class="main2" *ngIf="selectedPage==1">
    <div class="content2">
      <ion-row class="header-row">
        <ion-col class="back-button" (click)="back()">
          <ion-icon name="chevron-back-outline" ></ion-icon>
        </ion-col>
        <ion-col class="header" size="8">
          <span>Резервирај</span>
          <span>Одбери датум и време</span>
        </ion-col>
        <ion-col class="back-button">
        </ion-col>
      </ion-row>
      <ion-row class="card-row" style="margin-top: 30px; height: 250px;">
        <ion-col class="card-wrapper2">  
          <ion-datetime presentation="date" mode="ios" size="cover" [(ngModel)]="selectedDate" (ngModelChange)="selectDate($event)"></ion-datetime>
        </ion-col>  
      </ion-row>
      <ion-row class="card-row" style="margin-top: 30px;">
        <ion-col class="card-wrapper2" style="height: 90px;">  
          <span>Време</span>
          <div class="time-select">
            <div class="scroll-wrap" *ngIf="freeSlots!=[]">
              <div class="time-select-item" *ngFor="let time of freeSlots" (click)="selectionTime(time)" id="{{time.id}}">{{time.startHours}}:{{time.startMinutes}}</div>
            </div>
            <div class="scroll-wrap" *ngIf="freeSlots==[]">
              <span>Нема слободен термин за избраниот ден!</span>
            </div>
          </div>
        </ion-col>  
      </ion-row>
      <ion-row style="margin-top: 30px;" class="selected-times">
        <ion-col size="6">
          <span>Датум</span>
          <span class="selected-slot" *ngIf="selectedDateFormatted">{{selectedDateFormatted}}</span>
          <span class="selected-slot" *ngIf="!selectedDateFormatted">/</span>

        </ion-col>
        <ion-col size="6">
          <span>Време</span>
          <span class="selected-slot" *ngIf="selectedSlot!='/'">{{selectedSlot.startHours}} : {{selectedSlot.startMinutes}}</span>
          <span class="selected-slot" *ngIf="selectedSlot=='/'">{{selectedSlot}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" push="3" style="margin-top: 30px;">
          <app-reserve-button [text]="'Резервирај'" (nextStep)="reserve()"></app-reserve-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
