<ion-content scrollY="false">
  <div class="main">
    <div class="content">
      <ion-row class="header-row">
        <ion-col class="back-button">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-col>
        <ion-col class="header">
          <span>Ноки</span>
          <span>Одбери услуга</span>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row class="card-row">
        <ion-col class="card-wrapper">
          <div class="card">
            <div class="card-desc">
              <span>Шишање</span>
              <span>300ден</span>
            </div>
            <img class="card-img" src="../../assets/imgs/Rectangle 39.png" alt="">
          </div>
          <div class="card">
            <div class="card-desc">
              <span>Шишање</span>
              <span>300ден</span>
            </div>
            <img class="card-img" src="../../assets/imgs/Rectangle 39.png" alt="">
          </div>
          <div class="card">
            <div class="card-desc">
              <span>Шишање</span>
              <span>300ден</span>
            </div>
            <img class="card-img" src="../../assets/imgs/Rectangle 39.png" alt="">
          </div>
          <div class="card">
            <div class="card-desc">
              <span>Шишање</span>
              <span>300ден</span>
            </div>
            <img class="card-img" src="../../assets/imgs/Rectangle 39.png" alt="">
          </div>
          <div class="card">
            <div class="card-desc">
              <span>Шишање</span>
              <span>300ден</span>
            </div>
            <img class="card-img" src="../../assets/imgs/Rectangle 39.png" alt="">
          </div>
          <div class="card">
            <div class="card-desc">
              <span>Шишање</span>
              <span>300ден</span>
            </div>
            <img class="card-img" src="../../assets/imgs/Rectangle 39.png" alt="">
          </div>
          <div class="card">
            <div class="card-desc">
              <span>Шишање</span>
              <span>300ден</span>
            </div>
            <img class="card-img" src="../../assets/imgs/Rectangle 39.png" alt="">
          </div>
          <div class="card">
            <div class="card-desc">
              <span>Шишање</span>
              <span>300ден</span>
            </div>
            <img class="card-img" src="../../assets/imgs/Rectangle 39.png" alt="">
          </div>
          <div class="card">
            <div class="card-desc">
              <span>Шишање</span>
              <span>300ден</span>
            </div>
            <img class="card-img" src="../../assets/imgs/Rectangle 39.png" alt="">
          </div>
        </ion-col>  
      </ion-row>
    </div>
  </div>
</ion-content>
