<ion-content *ngIf="user">
  <div class="header">
    <span>{{'appDown' | translate}}</span>
  </div>
  <div class="img"></div>
  <div class="button-wrapper">
    <span>{{'tryLater' | translate}}</span>
  </div>
</ion-content>
<ion-content *ngIf="moderator">
  <div class="header">
    <span style="color:red">{{'expiredSubscription' | translate}}</span>
  </div>
  <div class="img"></div>
  <ion-row style="text-align-last: center;">
    <ion-col><h4>{{'lastPaymentDetails' | translate}}</h4></ion-col>
  </ion-row>
  <ion-row style="text-align-last: center;">
    <ion-col><h5>{{"paidOn" | translate}} {{startDateTime}}</h5></ion-col>
  </ion-row>
  <ion-row style="text-align-last: center">
    <ion-col><h5 style="color:red">{{'activeUntill' | translate}} {{endDateTime}}</h5></ion-col>
  </ion-row>
  <ion-row style="text-align-last: center">
    <ion-col><h6 style="text-align: -webkit-center;">{{'expiredSubscriptionDetails' | translate}}</h6></ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="text-align-last: center;" size="6">
      <ion-icon name="logo-instagram"></ion-icon>
      <br />
      <h5><a href="https://instagram.com/easyreservemk?igshid=ZDdkNTZiNTM=">@EasyReserveMK</a></h5>
    </ion-col>
    <ion-col style="text-align-last: center;" size="6">
      <ion-icon name="phone-portrait-outline"></ion-icon>
      <br />
      <h5><a href="tel:+38978252863">+389 78252863</a></h5>
      <h5><a href="tel:+38977894391">+389 77894391</a></h5>
    </ion-col>
    <ion-col style="text-align-last: center;" size="12">
      <ion-icon name="mail-outline"></ion-icon>
      <br />
      <h5>info@easyreserve.mk</h5>
    </ion-col>
  </ion-row>
</ion-content>
