
<ion-content [fullscreen]="true" id="container">
  <div class="header">
    <span>
      {{'thankYou' | translate}}
    </span>
  </div>
  <div class="main">
    <div class="section-card">
        <ion-row>
          <ion-col size="12" class="ion-margin-bottom ion-text-center">
              <img src="../../../assets/icon/bell.gif" alt="">
           </ion-col>
        </ion-row>

        <ion-row class="card-info">
          <ion-col size="9" class="ion-margin-bottom ion-text-center succ-app">
              <span>{{'successReserve' | translate}}</span>
           </ion-col>
           <ion-col size="3" class="ion-margin-bottom ion-text-center svg-stick">
              <svg width="43" height="45" viewBox="0 0 43 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0H43V38C43 43.5229 38.5228 48 33 48H10C4.47715 48 0 43.5228 0 38V0Z" fill="#2B2C34"/>
              </svg>
              <svg width="43" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.60938 11.4844L8.20312 16.0781L17.3906 6.23438" stroke="#F6F2F2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg> 
           </ion-col>            
           <ion-col size="6" class="ion-margin-bottom ion-text-center">
              <span>{{'barber' | translate}}</span>
           </ion-col>
           <ion-col size="6" class="ion-margin-bottom ion-text-center value">
              <span>{{employee}}</span>
          </ion-col>
          <ion-col size="6" class="ion-margin-bottom ion-text-center">
              <span>{{'service' | translate}}</span>
           </ion-col>
           <ion-col size="6" class="ion-margin-bottom ion-text-center value">
              <span>{{formatString()}}</span>
          </ion-col>
          <ion-col size="6" class="ion-margin-bottom ion-text-center">
              <span>{{'date' | translate}}</span>
           </ion-col>
           <ion-col size="6" class="ion-margin-bottom ion-text-center value" style="text-align: end !important;">
              <span>{{start | date: "dd-MM-YYYY hh:mm a"}}</span>
          </ion-col>
          <ion-col class="ion-margin-bottom ion-text-center">
              <hr /> 
              <svg width="115" height="115" viewBox="0 0 135 135" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-top:-18px">
                  <path d="M106.875 22.5H28.125C25.0184 22.5 22.5 25.0184 22.5 28.125V106.875C22.5 109.982 25.0184 112.5 28.125 112.5H106.875C109.982 112.5 112.5 109.982 112.5 106.875V28.125C112.5 25.0184 109.982 22.5 106.875 22.5Z" stroke="#2B2C34" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M39.375 22.5V11.25M95.625 22.5V11.25" stroke="#2B2C34" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M39.375 61.875H95.625" stroke="#2B2C34" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M39.375 84.375H78.75" stroke="#2B2C34" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M106.875 28.125H28.125V45H106.875V28.125Z" fill="#2B2C34"/>
              </svg>   
          </ion-col>
      </ion-row> 
    </div>
  </div> 
</ion-content>