// #container {
//   --background: #F7F7F5;
//  // --background: linear-gradient(90deg, rgba(90,98,133,1) 0%, rgba(51,54,68,1) 100%, rgba(60,89,106,1) 100%, rgba(0,212,255,1) 100%);
//     text-align: center;
//     --background-image: url("../../assets/imgs/logo-login.png") !important;
//   //--background: linear-gradient(90deg, rgb(110 113 129) 0%, rgb(40 43 56) 100%, rgb(82 109 124) 100%, rgba(0,212,255,1) 100%)
//   }

  ion-content {
    --background: url("../../assets/imgs/logo-login.png") no-repeat 50% 50%;
  }

  #loading{
    --background: none;
    div{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      ion-spinner {
        transform: scale(3);
      }
    }
  }
 
  
  .header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 30px;
    margin-bottom: 30px;
    span{
      text-align: center;
      color: black;
    }
    :first-child{
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 30px;
    }
    :nth-child(2){
      margin-top: 10px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }

    img {
      width: 223px;
      height: 50%;
      align-self: center;
    }
  }

  .ios .header{
    margin-top: 30px;
  }

  .main{
    ion-row {
      justify-content: center;
    }
  }

  .section-login { 
    padding: 6%;
    ion-button {
      margin-top: 18px;
      --background: #2B2C34;
      color:#ffffff;
      --border-radius: 30px !important;
      height: 42px;
      span {
        font-size: 13px;
        padding: 45px;
        height: 45px;
        display: inline-table;
      }
    }

    .invalid-feedback div{
      margin-top: 20px !important;
      margin-bottom: -20px !important;
      color: red !important ;
      text-align-last: center;
      font-size: 10px;
    }

  ion-text {
    margin-top: -3px !important;
  }

  .text-small {
    font-size: 12px;
    margin-top: 10px;
    align-self: center;
  }

  hr {
    border: 0;
    margin: 1.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
    display: list-item !important;
  }
  
  .fade-2 {
    border-width: 0 0 1px;
    $color: black;
    color: $color;
    border-image: linear-gradient(
      160deg,
      rgba($color, 0),
      rgba($color, 1) 100%,
      rgba($color, 0) 100%) 0 0 100%;
    border-style: solid;
  }

  .fade-3 {
    border-width: 0 0 1px;
    $color: black;
    color: $color;
    border-image: linear-gradient(
      200deg,
      rgba($color, 0),
      rgba($color, 1) 100%,
      rgba($color, 0) 100%) 0 0 100%;
    border-style: solid;
  }

  .item-background-color{
    --ion-item-background: #c3c3c3;
  }

  .circle{
    width: 38px !important;
    padding: 3px;
    margin-top: 13px;
  }

  ion-row {
    div {
      font-size: 12.5px;
      font-weight: 500;
      color: black;
      padding-bottom: 12px;
      margin-top: -13px;
    }
  }

  .item-has-focus {
    --highlight-background: lightgrey !important;
    ion-label {
      color:lightgrey !important;
    }
  }
}
