<ion-content [fullscreen]="true" id="container">
  <div class="header">
    <span>
      Добрeдојдовте на <br/> Barber Shop App
    </span>
    <img src="../../assets/imgs/login-logo.png">
  </div>
  <div class="main">
    <div class="section-login">
        <!-- <ion-row>
            <ion-item class="item-background-color">
              <ion-input placeholder="Phone Number"></ion-input>
            </ion-item>
        </ion-row> -->
        <ion-row>
          <ion-col>
            <ion-button size="medium" (click)="register()">
              <span>Register</span>    
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <span>Or continue with social media</span>
        </ion-row>
        <ion-row>
          <ion-col>
            <a href="{{googleURL}}"><img class="circle" src="../../assets/imgs/google-logo-circle.png"></a>
            <a href="{{facebookURL}}"><img class="circle" src="../../assets/imgs/facebook-logo-circle.png"></a>
          </ion-col>
        </ion-row>
      </div>
  </div> 
</ion-content>





<!-- <ion-grid>
  <ion-row>
    <ion-col>
      <ion-button size="medium" href={{googleURL}}>
        <ion-icon name="logo-google" slot="start"></ion-icon><span>Login with Google</span>    
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button size="medium" href={{googleURL}}>
        <ion-icon name="logo-google" slot="start"></ion-icon><span>Login with Facebook</span>    
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</div> -->