<ion-content [fullscreen]="true" id="container">
  <div class="header">
    <span>
      Добрeдојдовте на <br/> Barber Shop App
    </span>
    <img src="../../assets/imgs/login-logo.png">
  </div>
  <div class="main">
    <div class="section-login">
        <ion-row>
          <ion-col>
            <ion-button size="medium" (click)="goToSingIn()">
              <span>Регистрирај се</span>    
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <span>Или продолжи со некои од социјалните мрежи</span>
        </ion-row>
        <ion-row>
          <ion-col>
            <a href="{{googleURL}}"><img class="circle" src="../../assets/imgs/google-logo-circle.png"></a>
            <a href="{{facebookURL}}"><img class="circle" src="../../assets/imgs/facebook-logo-circle.png"></a>
          </ion-col>
        </ion-row>
      </div>
  </div> 
</ion-content>