<ion-content>
  <div class="main">
    <div class="content">
      <ion-row class="card-row">
        <ion-col class="card-wrapper">       
            <iframe width="300" 
              height="420" 
              frameborder="1" 
              scrolling="no" 
              marginheight="0" 
              marginwidth="0" 
              [src]="locationSrc" 
              style="border: 1px solid black">
          </iframe>
        </ion-col>  
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle class="card-title">Локација</ion-card-subtitle>
              <ion-card-subtitle class="card-subtitle"><span>Партизански одреди 148, Скопје</span></ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle class="card-title">Работно време</ion-card-subtitle>
              <ion-card-subtitle class="card-subtitle"><span>Понеделник - Петок</span></ion-card-subtitle>
              <ion-card-subtitle class="card-subtitle"><span>08:00 - 20:00</span></ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </div>