
   .header{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 30px;
        margin-bottom: 30px;
        align-items: center;
        img {
            border-radius: 60px;
        }

        ion-row {
            text-align: center;
            justify-content: center;
        }
        span {
            font-size: 11px;
            color:grey;
            display: flex;
            
            ion-icon {
                margin-right: 5px;
                font-size: 13px;
            }
        }

        h5 {
            padding: 0px;
            margin: 0px;
        }
    }
    
    .ios .header{
        padding-top: 50px;
    }

  .main{
    ion-row {
      justify-content: center;
    }
  }

  .section-location{ 
    padding: 4%;
    margin-top: -15px;

    ion-col {
        display: flex;
    }

    svg {
        margin-right: 5px;
    }

    span{
        color: grey;
        font-size: 12px;
    }

    span:first-child{
        font-style: normal;
        font-weight: bolder;
    }

    span:nth-child(2){
        font-style: normal;
        font-weight: 500;
    }

    h6 {
        margin-top: 10%;
        margin-bottom: 5%;
    }
  }