<ion-app *ngIf="!showMenu">
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<ion-app *ngIf="showMenu">
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs *ngIf="showMenu">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="apps-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="speakers">
        <ion-icon name="location-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="about">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
