<ion-content [fullscreen]="true" id="container">
    <div class="main">
        <div class="section-login">
            <ion-row>
                <ion-col>   
                    <form [formGroup]="signUpForm" novalidate>
                        <ion-item *ngIf="showAllFields">
                            <ion-label position="floating">Name</ion-label>
                            <ion-input [formControl]="signUpForm.controls['name']"></ion-input>
                        </ion-item>
                        <ion-item *ngIf="showAllFields">
                            <ion-label position="floating">Surname</ion-label>
                            <ion-input [formControl]="signUpForm.controls['surname']" ></ion-input>
                        </ion-item>
                        <ion-item *ngIf="showAllFields">
                            <ion-label position="floating">Email</ion-label>
                            <ion-input [formControl]="signUpForm.controls['email']"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Mobile phone</ion-label>
                            <ion-input [formControl]="signUpForm.controls['phone']"></ion-input>
                        </ion-item>
                    </form>
                    <ion-button size="medium" (click)="signUp()">
                        <span>Регистрирај се</span>    
                    </ion-button>
                </ion-col>
            </ion-row>
        </div>
    </div> 
  </ion-content>