button{
    width: 55vw;
    height: 50px;
    background: #2B2C34;
    border-radius: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background: #000000;
  color: white;
}