<ion-content id="container" *ngIf="!loading">
  <div class="notif">
      <ion-icon *ngIf="!newNotification" name="notifications" style="margin-right: 2%;" (click)="getNotifications()" ></ion-icon>
      <ion-icon *ngIf="newNotification" name="notifications" id="new-notification" (click)="getNotifications()"></ion-icon>
  </div>
  <div class="header">
    <span>
      {{company.name}}
    </span>
    <span>
      Најди го твојот бербер!
    </span>
  </div>
  <div class="main">
    <div class="section-barbers">
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let emp of employees">
            <ion-card mode="ios" (click)="openBarber(emp)">
              <div class="img">
                <img src={{emp.img}}>
              </div>
              <ion-card-header style="padding: 0;">
                <ion-card-title class="card-title">Мајстор {{emp.displayName}}</ion-card-title>
                <ion-card-subtitle class="card-subtitle"><ion-icon name="star-outline" style="margin-right: 6px;"></ion-icon><span>4.5</span></ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
<ion-content id="loading" *ngIf="loading">
  <div>
    <ion-spinner name="dots" color="secondary"></ion-spinner>
  </div>
</ion-content>


<ion-modal #modal [isOpen]="isOpen" (didDismiss)="isOpen = false" [initialBreakpoint]="0.55" [breakpoints]="[0, 0.25, 0.5, 0.75]">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="isOpen = false">Затвори</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>      
    <ion-content [fullscreen]="true" id="container">
      <ion-item-sliding *ngFor="let not of notifications;let i = index" (ionSwipe)="removeNotification(not.id, i)">
        <ion-item>
          <ion-label class="ion-label1">
            <h3>{{not.title}}</h3>
            <h4>{{not.body}}</h4>
          </ion-label>
          <ion-label style="text-align-last: right;">
            <h6>{{not.date}}</h6>
            <h6>{{not.time}}</h6>
          </ion-label>
        </ion-item>
        <ion-item-options side="end"></ion-item-options>
      </ion-item-sliding>
    </ion-content>
  </ng-template>
</ion-modal>