#container {
  text-align: center;
}

.header{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 60px;
  margin-bottom: 60px;
  span{
    text-align: center;
    color: #2B2C34;
  }
  :first-child{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
  }
  :nth-child(2){
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}

.search-box{
  .searchbar{
    --background: white;
    --icon-color: black;
  }
}

ion-grid{
  ion-row{
    ion-col{
      max-width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      padding: 0;
      ion-card{
        img{
          min-width: 170px;
          min-height: 220px;
          border-radius: 20px;
        }

        margin: 0;
        width: 170px;
        box-shadow: none!important;

        .card-title{
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #2B2C34;
        margin-top: 20px;
        margin-bottom: 4px;
        text-align: left;
      }

      .card-subtitle{
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #7C7C7C;
        text-align: left;
      }

      }
    }
  }
}