#container {
  text-align: center;
}
#loading{
  div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    ion-spinner {
      transform: scale(3);
    }
  }
  
}

.notif{
  height: 60px;
  display: flex;
  margin-right: 10%;
  justify-content: flex-end;
  place-items: center;
  ion-icon{
    font-size: 22px;
  }
  img{
    max-height: 100%;
    max-width: 10%;
    border-radius: 10px;
  }
}

#new-notification{
  display:block;
  width: 40px;
  -webkit-animation: ring 4s .7s ease-in-out infinite;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 4s .7s ease-in-out infinite;
  -moz-transform-origin: 50% 4px;
  animation: ring 4s .7s ease-in-out infinite;
  transform-origin: 50% 4px;
  color: red;
}

@-webkit-keyframes ring {
  0% { -webkit-transform: rotateZ(0); }
  1% { -webkit-transform: rotateZ(30deg); }
  3% { -webkit-transform: rotateZ(-28deg); }
  5% { -webkit-transform: rotateZ(34deg); }
  7% { -webkit-transform: rotateZ(-32deg); }
  9% { -webkit-transform: rotateZ(30deg); }
  11% { -webkit-transform: rotateZ(-28deg); }
  13% { -webkit-transform: rotateZ(26deg); }
  15% { -webkit-transform: rotateZ(-24deg); }
  17% { -webkit-transform: rotateZ(22deg); }
  19% { -webkit-transform: rotateZ(-20deg); }
  21% { -webkit-transform: rotateZ(18deg); }
  23% { -webkit-transform: rotateZ(-16deg); }
  25% { -webkit-transform: rotateZ(14deg); }
  27% { -webkit-transform: rotateZ(-12deg); }
  29% { -webkit-transform: rotateZ(10deg); }
  31% { -webkit-transform: rotateZ(-8deg); }
  33% { -webkit-transform: rotateZ(6deg); }
  35% { -webkit-transform: rotateZ(-4deg); }
  37% { -webkit-transform: rotateZ(2deg); }
  39% { -webkit-transform: rotateZ(-1deg); }
  41% { -webkit-transform: rotateZ(1deg); }

  43% { -webkit-transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
  0% { -moz-transform: rotate(0); }
  1% { -moz-transform: rotate(30deg); }
  3% { -moz-transform: rotate(-28deg); }
  5% { -moz-transform: rotate(34deg); }
  7% { -moz-transform: rotate(-32deg); }
  9% { -moz-transform: rotate(30deg); }
  11% { -moz-transform: rotate(-28deg); }
  13% { -moz-transform: rotate(26deg); }
  15% { -moz-transform: rotate(-24deg); }
  17% { -moz-transform: rotate(22deg); }
  19% { -moz-transform: rotate(-20deg); }
  21% { -moz-transform: rotate(18deg); }
  23% { -moz-transform: rotate(-16deg); }
  25% { -moz-transform: rotate(14deg); }
  27% { -moz-transform: rotate(-12deg); }
  29% { -moz-transform: rotate(10deg); }
  31% { -moz-transform: rotate(-8deg); }
  33% { -moz-transform: rotate(6deg); }
  35% { -moz-transform: rotate(-4deg); }
  37% { -moz-transform: rotate(2deg); }
  39% { -moz-transform: rotate(-1deg); }
  41% { -moz-transform: rotate(1deg); }

  43% { -moz-transform: rotate(0); }
  100% { -moz-transform: rotate(0); }
}

@keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(34deg); }
  7% { transform: rotate(-32deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-28deg); }
  13% { transform: rotate(26deg); }
  15% { transform: rotate(-24deg); }
  17% { transform: rotate(22deg); }
  19% { transform: rotate(-20deg); }
  21% { transform: rotate(18deg); }
  23% { transform: rotate(-16deg); }
  25% { transform: rotate(14deg); }
  27% { transform: rotate(-12deg); }
  29% { transform: rotate(10deg); }
  31% { transform: rotate(-8deg); }
  33% { transform: rotate(6deg); }
  35% { transform: rotate(-4deg); }
  37% { transform: rotate(2deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }

  43% { transform: rotate(0); }
  100% { transform: rotate(0); }
}

ion-item {
  .ion-label1 {
    flex: 0 0 200px;
    width: 200px;
    h4 {
      white-space: pre-wrap;
    }

    h3 {
      font-weight: bold;
    }
  }
}

.header{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 0px;
  margin-bottom: 30px;
  span{
    text-align: center;
    color: #2B2C34;
  }
  :first-child{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
  }
  :nth-child(2){
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }
}

.search-box{
  .searchbar{
    --background: white;
    --icon-color: black;
  }
}

ion-grid{
  ion-row{
    ion-col{
      max-width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      padding: 0;
      max-height: 100%;
      height: 100% !important;
      ion-card{
        .img{
          min-width: 170px;
          min-height: 220px;
          border-radius: 20px;
         // background-image: url("https://media.istockphoto.com/photos/client-during-beard-shaving-in-barber-shop-picture-id1308801083?b=1&k=20&m=1308801083&s=170667a&w=0&h=bT3CnGidGj9jOCDQKK6kX4dZ1J2XcO3rh58aWXGQToM=");
          background-size: cover;
          background-position: center;
        }

        margin: 0;
        width: 170px;
        box-shadow: none!important;

        .card-title{
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #2B2C34;
        margin-top: 20px;
        margin-bottom: 4px;
        text-align: left;
      }

      .card-subtitle{
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #7C7C7C;
        text-align: left;
      }

      }
    }
  }
}