<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266915288245-iqhbrhkumcgppl4re41eo38hj49emmp1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266915288245-iqhbrhkumcgppl4re41eo38hj49emmp1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>266915288245-hbi0d4pq00uvf4hd6atk2svo4dar8vk4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAj68QNhFKHHSM_nXDl7ojyy0U_6QNIIg4</string>
	<key>GCM_SENDER_ID</key>
	<string>266915288245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easyreserve.test</string>
	<key>PROJECT_ID</key>
	<string>thebarberapp-c3ff0</string>
	<key>STORAGE_BUCKET</key>
	<string>thebarberapp-c3ff0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266915288245:ios:0be8b1c281fe13bdbf9afc</string>
</dict>
</plist>