<ion-content id="container">
  <div class="header">
    <span>
      Подесување
    </span>
  </div>
  <div class="main">
    <div class="section-barbers">
      <ion-grid>
        <ion-row>
          <ion-col class="col-card" *ngIf="isManager == true">
            <ion-card mode="ios">
              <ion-item lines="none" detail='true' (click)="setModalValue('companyModal',true)">
                <ion-icon name="business-outline" slot='start'></ion-icon>
                <ion-label>
                  <h4>Компанија</h4>
                </ion-label>
              </ion-item>
            </ion-card>
          </ion-col>
          <ion-col class="col-card">
            <ion-card mode="ios">
              <ion-item lines="none" detail='true' (click)="setModalValue('myProfileModal',true)">
                <ion-icon name="person-outline" slot='start'></ion-icon>
                <ion-label>
                  <h4>Мој Профил</h4>
                </ion-label>
              </ion-item>
            </ion-card>
          </ion-col>
          <ion-col class="col-card" *ngIf="isManager == true">
            <ion-card mode="ios">
              <ion-item lines="none" detail='true' (click)="setModalValue('serviceModal', true)">
                <ion-icon name="pricetags-outline" slot='start'></ion-icon>
                <ion-label>
                  <h4>Услуги</h4>
                </ion-label>
              </ion-item>
            </ion-card>
          </ion-col>
          <ion-col class="col-card">
            <ion-card mode="ios">
              <ion-item lines="none" detail='true' (click)="setModalValue('settingsModal', true)">
                <ion-icon name="settings-outline" slot='start'></ion-icon>
                <ion-label class="ion-text-wrap">
                  <h4>Подесување</h4>
                </ion-label>
              </ion-item>
            </ion-card>
          </ion-col>
          <ion-col class="col-card">
            <ion-card mode="ios">
              <ion-item lines="none" detail='true' (click)="setModalValue('passwordModal', true)">
                <ion-icon name="refresh-circle-outline" slot='start'></ion-icon>
                <ion-label class="ion-text-wrap">
                  <h4>Промени Лозинка</h4>
                </ion-label>
              </ion-item>
            </ion-card>
          </ion-col>
          <ion-col class="col-card">
            <ion-card mode="ios">
              <ion-item lines="none" detail='true' (click)="setModalValue('removeProfileModal', true)">
                <ion-icon name="person-remove-outline" slot='start'></ion-icon>
                <ion-label class="ion-text-wrap">
                  <h4>Избриши го мојот профил</h4>
                </ion-label>
              </ion-item>
            </ion-card>
          </ion-col>
          <ion-col class="col-card">
            <ion-card mode="ios">
              <ion-item lines="none" detail='true' (click)="setModalValue('documentsModal', true)">
                <ion-icon name="document-text-outline" slot='start'></ion-icon>
                <ion-label class="ion-text-wrap">
                  <h4>Правни документи</h4>
                </ion-label>
              </ion-item>
            </ion-card>
          </ion-col>
          <ion-col class="col-card">
            <ion-card mode="ios">
              <ion-item lines="none" detail='true' (click)="setModalValue('contactModal', true)">
                <ion-icon name="mail-outline" slot='start'></ion-icon>
                <ion-label class="ion-text-wrap">
                  <h4>Контакт</h4>
                </ion-label>
              </ion-item>
            </ion-card>
          </ion-col>
          <ion-col class="col-card" (click)="logout()">
            <ion-card mode="ios">
              <ion-item lines="none" detail='true'>
                <ion-icon name="log-out-outline" slot='start'></ion-icon>
                <ion-label class="ion-text-wrap">
                  <h4>Одјави се</h4>
                </ion-label>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-modal [isOpen]="documentsModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Правни документи</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setModalValue('documentsModal', false)">Затвори</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" style="text-align-last: center;">
      <p>
        Сите права се задржани и информации околу истите може да се добијат на следнава патека
      </p>
      <a href="https://easyreserve.mk/index.php/privacy-policy/">Приватна Полиса</a>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="settingsModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Подесување</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setModalValue('settingsModal', false)">Затвори</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-list>
            <ion-item>
              <ion-select value="mkd" placeholder="Изберете јазик">
                <ion-select-option value="mkd">Македонски Јазик</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-item>
            <ion-checkbox slot="start" [indeterminate]="true"></ion-checkbox>
            <ion-label>Црна тема</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-item>
            <ion-checkbox slot="start" checked="{{notif}}" (click)="allowNotification($event)"></ion-checkbox>
            <ion-label>Дозволи нотификации</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="userProfileModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Мој Профил</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setModalValue('myProfileModal', false)">Затвори</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">Име</div>
          <ion-item fill="outline" mode="md">
            <ion-input
              [formControl]="userForm.controls['name']"
              type="text"
              autocomplete="off"
              autocorrect="off"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Име е задолжително</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">Презиме</div>
          <ion-item fill="outline" mode="md">
            <ion-input
              [formControl]="userForm.controls['surname']"
              type="text"
              autocomplete="off" 
              autocorrect="off"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.surname.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
            <div *ngIf="f.surname.errors.required">Презиме е задолжително</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">Е-маил</div>
          <ion-item fill="outline" mode="md">
            <ion-input
              [formControl]="userForm.controls['email']"
              type="email"
              inputmode="email"
              autocomplete="off"
              autocorrect="off"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Е-маил полето е задолжителен</div>
            <div *ngIf="f.email.errors.email">Внесениот е-маил не е валиден</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">Телефонски број</div>
          <ion-item fill="outline" mode="md">
            <ion-input
              [formControl]="userForm.controls['phone']"
              type="tel"
              autocomplete="off"
              autocorrect="off"
              autofocus
              placeholder="77 123 456"
              [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
            <div *ngIf="f.phone.errors.required">Телефонскиот број е задолжителен</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button size="large" (click)="updateUser()">
            <span>Зачувај</span>    
          </ion-button>
        </ion-col>
      </ion-row> 
    </ion-content>
    <ion-content  id="loading" *ngIf="loading">
      <div>
        <ion-spinner name="dots" color="secondary"></ion-spinner>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="employeeProfileModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Мој Профил</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setModalValue('myProfileModal', false)">Затвори</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom" *ngIf="isManager">
          <ion-list>
            <div class="ion-text-center">Вработен</div>
            <ion-item fill="outline" class="mt-5">
              <ion-select (ionChange)="onChangeEmp()"  [formControl]="empForm.controls['userId']">
                <ion-select-option *ngFor="let emp of employees" value={{emp.userId}}>{{emp.displayName}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">Име</div>
          <ion-item fill="outline" mode="md">
            <ion-input
              [formControl]="userForm.controls['name']"
              type="text"
              autocomplete="off"
              autocorrect="off"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Име е задолжително</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">Презиме</div>
          <ion-item fill="outline" mode="md">
            <ion-input
              [formControl]="userForm.controls['surname']"
              type="text"
              autocomplete="off" 
              autocorrect="off"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.surname.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
            <div *ngIf="f.surname.errors.required">Презиме е задолжително</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">Е-маил</div>
          <ion-item fill="outline" mode="md">
            <ion-input
              [formControl]="userForm.controls['email']"
              type="email"
              inputmode="email"
              autocomplete="off"
              autocorrect="off"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Е-маил полето е задолжителен</div>
            <div *ngIf="f.email.errors.email">Внесениот е-маил не е валиден</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">Телефонски број</div>
          <ion-item fill="outline" mode="md">
            <ion-input
              [formControl]="userForm.controls['phone']"
              type="tel"
              autocomplete="off"
              autocorrect="off"
              autofocus
              placeholder="77 123 456"
              [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
            <div *ngIf="f.phone.errors.required">Телефонскиот број е задолжителен</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" style="margin-top: 5% !important;">
          <div class="ion-text-center">Работно време</div>
        </ion-col>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-item fill="outline" mode="md">
            <ion-label position="fixed">ПОН</ion-label>
            <ion-input [formControl]="workingHours.controls['mon']"></ion-input>
          </ion-item>
          <div *ngIf="monError" class="invalid-feedback">
            <div *ngIf="monError">Невалиден формат на работно време</div>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-item fill="outline" mode="md">
            <ion-label position="fixed">ВТО</ion-label>
            <ion-input [formControl]="workingHours.controls['tue']"></ion-input>
          </ion-item>
          <div *ngIf="tueError" class="invalid-feedback">
            <div *ngIf="tueError">Невалиден формат на работно време</div>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-item fill="outline" mode="md">
            <ion-label position="fixed">СРЕ</ion-label>
            <ion-input [formControl]="workingHours.controls['wed']"></ion-input>
          </ion-item>
          <div *ngIf="wedError" class="invalid-feedback">
            <div *ngIf="wedError">Невалиден формат на работно време</div>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-item fill="outline" mode="md">
            <ion-label position="fixed">ЧЕТ</ion-label>
            <ion-input [formControl]="workingHours.controls['thu']"></ion-input>
          </ion-item>
          <div *ngIf="thuError" class="invalid-feedback">
            <div *ngIf="thuError">Невалиден формат на работно време</div>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-item fill="outline" mode="md">
            <ion-label position="fixed">ПЕТ</ion-label>
            <ion-input [formControl]="workingHours.controls['fri']"></ion-input>
          </ion-item>
          <div *ngIf="friError" class="invalid-feedback">
            <div *ngIf="friError">Невалиден формат на работно време</div>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-item fill="outline" mode="md">
            <ion-label position="fixed">САБ</ion-label>
            <ion-input [formControl]="workingHours.controls['sat']"></ion-input>
          </ion-item>
          <div *ngIf="satError" class="invalid-feedback">
            <div *ngIf="satError">Невалиден формат на работно време</div>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-item fill="outline" mode="md">
            <ion-label position="fixed">НЕД</ion-label>
            <ion-input [formControl]="workingHours.controls['sun']"></ion-input>
          </ion-item>
          <div *ngIf="sunError" class="invalid-feedback">
            <div *ngIf="sunError">Невалиден формат на работно време</div>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-item>
            <ion-checkbox [checked]="showForReservation" (ionChange)="checkboxClick($event)" slot="start"></ion-checkbox>
            <ion-label>Прикажи за резервирање</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button size="large" (click)="updateEmployee()">
            <span>Зачувај</span>    
          </ion-button>
        </ion-col>
      </ion-row> 
      <ion-row style="margin-top: 10px;">
        <ion-col size="12" style="margin-top: 5% !important;">
          <div class="ion-text-center">Услуги</div>
        </ion-col>
        <ion-card class="serviceCard" *ngFor="let services of servicesList">
          <ion-card-header>
            <ion-row>
              <ion-col class="trash" size="12">
                <ion-icon name="trash-outline" (click)="removeServiceAlert(services.serviceId)"></ion-icon>
              </ion-col>
              <ion-col size="3" class="card-col">
                <img src="../../assets/imgs/testhaircut.png" width="50" height="50">
              </ion-col>
              <ion-col size="9" class="card-col">
                <ion-row>
                    <ion-col size="6">Услуга</ion-col>
                    <ion-col size="3">Време</ion-col>
                    <ion-col size="3">Цена</ion-col>
                    <ion-col size="6"><b>{{services.name}}</b></ion-col>
                    <ion-col size="3"><b>{{services.duration}}</b></ion-col>
                    <ion-col size="3"><b>{{services.price}}</b></ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-header>
        </ion-card>
      </ion-row>
    </ion-content>
    <ion-content id="loading" *ngIf="loading">
      <div>
        <ion-spinner name="dots" color="secondary"></ion-spinner>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="passwordModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Промена на лозинка</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setModalValue('passwordModal', false)">Затвори</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">Стара лозинка</div>
          <ion-item fill="outline" mode="md">
            <ion-input
             [formControl]="passForm.controls['oldPassword']"
              type="password"
              autocomplete="off"
              autocorrect="off"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && p.oldPassword.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && p.oldPassword.errors" class="invalid-feedback">
            <div *ngIf="p.oldPassword.errors.required">Лозинката е задолжителна</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">Нова лозинка</div>
          <ion-item fill="outline" mode="md">
            <ion-input
              [formControl]="passForm.controls['newPassword']"
              type="password"
              autocomplete="off" 
              autocorrect="off"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && p.newPassword.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && p.newPassword.errors" class="invalid-feedback">
            <div *ngIf="p.newPassword.errors.required">Лозинката е задолжителна</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">Повтори ја лозинката</div>
          <ion-item fill="outline" mode="md">
            <ion-input
              [formControl]="passForm.controls['newPasswordRepeat']"
              type="password"
              autocomplete="off"
              autocorrect="off"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && p.newPasswordRepeat.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && p.newPasswordRepeat.errors" class="invalid-feedback">
            <div *ngIf="p.newPasswordRepeat.errors.required">Лозинката е задолжителна</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button size="large" (click)="changePass()">
            <span>Зачувај</span>    
          </ion-button>
        </ion-col>
      </ion-row> 
    </ion-content>
    <ion-content  id="loading" *ngIf="loading">
      <div>
        <ion-spinner name="dots" color="secondary"></ion-spinner>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="removeProfileModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Избриши го мојот профил</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setModalValue('removeProfileModal', false)">Затвори</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <p>
        Внимание, доколку го избришете вашиот профил, ќе ви се забрани пристап до апликацијата и трајно ќе ви се избришат сите ваши податоци и резервации од нашата база. 
      </p>
      <h3 style="text-align: center; margin-top: 15%;">Дали сте сигурни?</h3>
      <ion-row>
        <ion-col class="ion-text-center mt-5">
          <ion-button size="large" (click)="removeMyProfile()">
            <span>Избриши</span>    
          </ion-button>
        </ion-col>
      </ion-row> 
    </ion-content>
    <ion-content  id="loading" *ngIf="loading">
      <div>
        <ion-spinner name="dots" color="secondary"></ion-spinner>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="contactModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Контакт</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setModalValue('contactModal', false)">Затвори</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">Наслов</div>
          <ion-item fill="outline" mode="md">
            <ion-input
             [formControl]="contactForm.controls['title']"
              type="text"
              autocomplete="off"
              autocorrect="off"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && m.title.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && m.title.errors" class="invalid-feedback">
            <div *ngIf="m.title.errors.required">Наслов на пораката е задолжителен</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">Порака</div>
          <ion-item fill="outline" mode="md">
            <ion-textarea 
            [formControl]="contactForm.controls['message']" 
            placeholder="Оставете порака тука" 
            [autoGrow]="true"
            [ngClass]="{ 'is-invalid': submitted && m.message.errors }">
            </ion-textarea>
          </ion-item>
          <div *ngIf="submitted && m.message.errors" class="invalid-feedback">
            <div *ngIf="m.message.errors.required">Содржината на пораката е задолжителна</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button size="large" (click)="sendMessage()">
            <span>Испрати порака</span>    
          </ion-button>
        </ion-col>
      </ion-row> 
    </ion-content>
    <ion-content  id="loading" *ngIf="loading">
      <div>
        <ion-spinner name="dots" color="secondary"></ion-spinner>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="serviceModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Услуги</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setModalValue('serviceModal', false)">Затвори</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="all">
          <ion-label>Сите услуги</ion-label>
        </ion-segment-button>
        <ion-segment-button value="new">
          <ion-label>Нова услуга</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div [ngSwitch]="segment">
        <ion-row *ngSwitchCase="'all'">
          <ion-card class="serviceCard" *ngFor="let services of servicesList">
            <ion-card-header>
              <ion-row>
                <ion-col class="trash" size="12">
                  <ion-icon name="trash-outline" (click)="removeServiceDetailAlert(services.serviceId)"></ion-icon>
                </ion-col>
                <ion-col size="3" class="card-col" (click)="openService(services, true)">
                  <img src="../../assets/imgs/testhaircut.png" width="50" height="50">
                </ion-col>
                <ion-col size="9" class="card-col" (click)="openService(services, true)">
                  <ion-row>
                      <ion-col size="6">Услуга</ion-col>
                      <ion-col size="3">Време</ion-col>
                      <ion-col size="3">Цена</ion-col>
                      <ion-col size="6"><b>{{services.name}}</b></ion-col>
                      <ion-col size="3"><b>{{services.duration}}</b></ion-col>
                      <ion-col size="3"><b>{{services.price}}</b></ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-card-header>
          </ion-card>
        </ion-row>
        <ion-row *ngSwitchCase="'new'">
            <ion-col size="12" class="ion-margin-bottom">
                <h4 style="text-align-last: center;">Креирај нова услуга</h4>
            </ion-col>
            <ion-col size="12">
              <div class="ion-text-center">Избери слика</div>
              <ion-slides pager style="margin-top: 10px; margin-bottom: 10px;">
                <ion-slide *ngFor="let image of images">
                  <ion-row class="card-row">
                    <ion-col class="card-wrapper">       
                      <div class="card">
                        <img class="card-img img-cov" src={{image}} alt="">
                      </div>
                    </ion-col>  
                  </ion-row>
                </ion-slide>
              </ion-slides>
            </ion-col>
            <ion-col size="12" class="ion-margin-bottom">
              <div class="ion-text-center">Име</div>
              <ion-item fill="outline" mode="md">
                <ion-input
                 [formControl]="serviceForm.controls['name']"
                  type="text"
                  autocomplete="off"
                  autocorrect="off"
                  autofocus
                  [ngClass]="{ 'is-invalid': submitted && s.name.errors }"
                ></ion-input>
              </ion-item>
              <div *ngIf="submitted && s.name.errors" class="invalid-feedback">
                <div *ngIf="s.name.errors.required">Име на услугата е задолжително</div>
              </div> 
            </ion-col>
            <ion-col size="12" class="ion-margin-bottom">
              <div class="ion-text-center">Опис</div>
              <ion-item fill="outline" mode="md">
                <ion-input
                [formControl]="serviceForm.controls['description']" 
                autocomplete="off"
                autocorrect="off"
                [ngClass]="{ 'is-invalid': submitted && s.description.errors }">
                </ion-input>
              </ion-item>
              <div *ngIf="submitted && s.description.errors" class="invalid-feedback">
                <div *ngIf="s.description.errors.required">Опис на услугата е задолжителен</div>
              </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-bottom">
              <div class="ion-text-center">Цена</div>
              <ion-item fill="outline" mode="md">
                <ion-input 
                [formControl]="serviceForm.controls['price']" 
                autocomplete="off"
                autocorrect="off"
                [ngClass]="{ 'is-invalid': submitted && s.price.errors}">
                </ion-input>
              </ion-item>
              <div *ngIf="submitted && s.price.errors" class="invalid-feedback">
                <div *ngIf="s.price.errors.required">Полето за цена на услугата е задолжително</div>
              </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-bottom">
              <div class="ion-text-center">Времетраење на услугата</div>
              <ion-item class="mt-5">
                <ion-select [formControl]="serviceForm.controls['duration']">
                  <ion-select-option value="10">10 минути</ion-select-option>
                  <ion-select-option value="20">20 минути</ion-select-option>
                  <ion-select-option value="30">30 минути</ion-select-option>
                  <ion-select-option value="40">40 минути</ion-select-option>
                  <ion-select-option value="50">50 минути</ion-select-option>
                  <ion-select-option value="60">60 минути</ion-select-option>
                  <ion-select-option value="70">70 минути</ion-select-option>
                  <ion-select-option value="80">80 минути</ion-select-option>
                  <ion-select-option value="90">90 минути</ion-select-option>
                  <ion-select-option value="100">100 минути</ion-select-option>
                  <ion-select-option value="110">110 минути</ion-select-option>
                  <ion-select-option value="120">120 минути</ion-select-option>
                  <ion-select-option value="130">130 минути</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col class="ion-text-center">
              <ion-button size="large" (click)="createNewService()">
                <span>Зачувај</span>    
              </ion-button>
            </ion-col>
        </ion-row>
      </div>
    </ion-content>
    <ion-content  id="loading" *ngIf="loading">
      <div>
        <ion-spinner name="dots" color="secondary"></ion-spinner>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="serviceDetail">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{serviceName}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="openService('', false)">Затвори</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <div class="ion-text-center">Избери слика</div>
        <ion-slides pager style="margin-top: 10px; margin-bottom: 10px;">
          <ion-slide *ngFor="let image of images">
            <ion-row class="card-row">
              <ion-col class="card-wrapper">       
                <div class="card">
                  <img class="card-img img-cov" src={{image}} alt="">
                </div>
              </ion-col>  
            </ion-row>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col size="12" class="ion-margin-bottom">
        <div class="ion-text-center">Име</div>
        <ion-item fill="outline" mode="md">
          <ion-input
           [formControl]="serviceForm.controls['name']"
            type="text"
            autocomplete="off"
            autocorrect="off"
            autofocus
            [ngClass]="{ 'is-invalid': submitted && s.name.errors }"
          ></ion-input>
        </ion-item>
        <div *ngIf="submitted && s.name.errors" class="invalid-feedback">
          <div *ngIf="s.name.errors.required">Име на услугата е задолжително</div>
        </div> 
      </ion-col>
      <ion-col size="12" class="ion-margin-bottom">
        <div class="ion-text-center">Опис</div>
        <ion-item fill="outline" mode="md">
          <ion-input
          [formControl]="serviceForm.controls['description']" 
          autocomplete="off"
          autocorrect="off"
          [ngClass]="{ 'is-invalid': submitted && s.description.errors }">
          </ion-input>
        </ion-item>
        <div *ngIf="submitted && s.description.errors" class="invalid-feedback">
          <div *ngIf="s.description.errors.required">Опис на услугата е задолжителен</div>
        </div>
      </ion-col>
      <ion-col size="12" class="ion-margin-bottom">
        <div class="ion-text-center">Цена</div>
        <ion-item fill="outline" mode="md">
          <ion-input 
          [formControl]="serviceForm.controls['price']" 
          autocomplete="off"
          autocorrect="off"
          [ngClass]="{ 'is-invalid': submitted && s.price.errors}">
          </ion-input>
        </ion-item>
        <div *ngIf="submitted && s.price.errors" class="invalid-feedback">
          <div *ngIf="s.price.errors.required">Полето за цена на услугата е задолжително</div>
        </div>
      </ion-col>
      <ion-col size="12" class="ion-margin-bottom">
        <div class="ion-text-center">Времетраење на услугата</div>
        <ion-item class="mt-5">
          <ion-select [formControl]="serviceForm.controls['duration']">
            <ion-select-option value="10">10 минути</ion-select-option>
            <ion-select-option value="20">20 минути</ion-select-option>
            <ion-select-option value="30">30 минути</ion-select-option>
            <ion-select-option value="40">40 минути</ion-select-option>
            <ion-select-option value="50">50 минути</ion-select-option>
            <ion-select-option value="60">60 минути</ion-select-option>
            <ion-select-option value="70">70 минути</ion-select-option>
            <ion-select-option value="80">80 минути</ion-select-option>
            <ion-select-option value="90">90 минути</ion-select-option>
            <ion-select-option value="100">100 минути</ion-select-option>
            <ion-select-option value="110">110 минути</ion-select-option>
            <ion-select-option value="120">120 минути</ion-select-option>
            <ion-select-option value="130">130 минути</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col  size="12" class="ion-text-center">
        <ion-button size="large" (click)="updateService()">
          <span>Измени</span>    
        </ion-button>
      </ion-col>
    </ion-row>
      <ion-col size="12">
        <h4 style="text-align: -webkit-center;">Вработени означени со зелена/црвена боја ja имаат/немаат оваа услуга</h4>
        <br/>
        <h6 style="text-align-last: center; font-size: 13px;">Повлечете во лево за да извршите акција кон одреден вработен</h6>
      </ion-col>
      <ion-list *ngFor="let service of serviceDetailsUsers">
        <ion-item-sliding>
          <ion-item class="exist" *ngIf="service.hasService == '1'">
            <ion-label>{{service.displayName}}</ion-label>
          </ion-item>
          <ion-item class="notExist" *ngIf="service.hasService == '0'">
            <ion-label>{{service.displayName}}</ion-label>
          </ion-item>
          <ion-item-options *ngIf="service.hasService == '1'">
            <ion-item-option color="danger" (click)="removeSelectedServiceFromEmp(service.serviceId, service.userId)">Избриши услуга</ion-item-option>
          </ion-item-options>
          <ion-item-options *ngIf="service.hasService == '0'">
            <ion-item-option color="success" (click)="addServiceToEmployee(service.serviceId, service.userId)">Додади услуга</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>      
    </ion-content>
    <ion-content  id="loading" *ngIf="loading">
      <div>
        <ion-spinner name="dots" color="secondary"></ion-spinner>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="companyModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Компанија</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setModalValue('companyModal', false)">Затвори</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">Име</div>
          <ion-item fill="outline" mode="md">
            <ion-input
             [formControl]="companyForm.controls['name']"
              type="text"
              autocomplete="off"
              autocorrect="off"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && c.name.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && c.name.errors" class="invalid-feedback">
            <div *ngIf="c.name.errors.required">Име на компанијата е задолжително</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">Адреса</div>
          <ion-item fill="outline" mode="md">
            <ion-input
             [formControl]="companyForm.controls['address']"
              type="text"
              autocomplete="off"
              autocorrect="off"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && c.address.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && c.address.errors" class="invalid-feedback">
            <div *ngIf="c.address.errors.required">Адреса на компанијата е задолжително</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">Телефон</div>
          <ion-item fill="outline" mode="md">
            <ion-input
             [formControl]="companyForm.controls['mobilePhone']"
              type="text"
              autocomplete="off"
              autocorrect="off"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && c.mobilePhone.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && c.mobilePhone.errors" class="invalid-feedback">
            <div *ngIf="c.mobilePhone.errors.required">Телефонски број на компанијата е задолжителен</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button size="large" (click)="updateCompany()">
            <span>Зачувај</span>    
          </ion-button>
        </ion-col>
      </ion-row> 
    </ion-content>
    <ion-content  id="loading" *ngIf="loading">
      <div>
        <ion-spinner name="dots" color="secondary"></ion-spinner>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
