<ion-content id="container">
  <div class="header">
    <span>
      {{'settings' | translate}}
    </span>
  </div>
  <div class="main">
    <div class="section-barbers">
      <ion-grid>
        <ion-row>
          <ion-col class="col-card" *ngIf="isManager == true">
            <ion-card mode="ios">
              <ion-item lines="none" detail='true' (click)="setModalValue('companyModal',true)">
                <ion-icon name="business-outline" slot='start'></ion-icon>
                <ion-label>
                  <h4>{{'companyBilling' | translate}}</h4>
                </ion-label>
              </ion-item>
            </ion-card>
          </ion-col>
          <ion-col class="col-card">
            <ion-card mode="ios">
              <ion-item lines="none" detail='true' (click)="setModalValue('myProfileModal',true)">
                <ion-icon name="person-outline" slot='start'></ion-icon>
                <ion-label>
                  <h4>{{'profile' | translate}}</h4>
                </ion-label>
              </ion-item>
            </ion-card>
          </ion-col>
          <ion-col class="col-card" *ngIf="isManager == true">
            <ion-card mode="ios">
              <ion-item lines="none" detail='true' (click)="setModalValue('serviceModal', true)">
                <ion-icon name="pricetags-outline" slot='start'></ion-icon>
                <ion-label>
                  <h4>{{'services' | translate}}</h4>
                </ion-label>
              </ion-item>
            </ion-card>
          </ion-col>
          <!-- <ion-col class="col-card">
            <ion-card mode="ios">
              <ion-item lines="none" detail='true' (click)="setModalValue('settingsModal', true)">
                <ion-icon name="settings-outline" slot='start'></ion-icon>
                <ion-label class="ion-text-wrap">
                  <h4>Подесување</h4>
                </ion-label>
              </ion-item>
            </ion-card>
          </ion-col> -->
          <ion-col class="col-card">
            <ion-card mode="ios">
              <ion-item lines="none" detail='true' (click)="setModalValue('passwordModal', true)">
                <ion-icon name="refresh-circle-outline" slot='start'></ion-icon>
                <ion-label class="ion-text-wrap">
                  <h4>{{'changePass' | translate}}</h4>
                </ion-label>
              </ion-item>
            </ion-card>
          </ion-col>
          <ion-col class="col-card">
            <ion-card mode="ios">
              <ion-item lines="none" detail='true' (click)="setModalValue('removeProfileModal', true)">
                <ion-icon name="person-remove-outline" slot='start'></ion-icon>
                <ion-label class="ion-text-wrap">
                  <h4>{{'deleteProfile' | translate}}</h4>
                </ion-label>
              </ion-item>
            </ion-card>
          </ion-col>
          <ion-col class="col-card">
            <ion-card mode="ios">
              <ion-item lines="none" detail='true' (click)="setModalValue('documentsModal', true)">
                <ion-icon name="document-text-outline" slot='start'></ion-icon>
                <ion-label class="ion-text-wrap">
                  <h4>{{'termsCond' | translate}}</h4>
                </ion-label>
              </ion-item>
            </ion-card>
          </ion-col>
          <ion-col class="col-card">
            <ion-card mode="ios">
              <ion-item lines="none" detail='true' (click)="setModalValue('contactModal', true)">
                <ion-icon name="mail-outline" slot='start'></ion-icon>
                <ion-label class="ion-text-wrap">
                  <h4>{{'contact' | translate}}</h4>
                </ion-label>
              </ion-item>
            </ion-card>
          </ion-col>
          <ion-col class="col-card" (click)="logout()">
            <ion-card mode="ios">
              <ion-item lines="none" detail='true'>
                <ion-icon name="log-out-outline" slot='start'></ion-icon>
                <ion-label class="ion-text-wrap">
                  <h4>{{'logout' | translate}}</h4>
                </ion-label>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-modal [isOpen]="documentsModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{'termsCond' | translate}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setModalValue('documentsModal', false)">{{'close' | translate}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" style="text-align-last: center;">
      <p style="text-align: center;">
        {{'privacyPolicyText' | translate}}
      </p>
      <a href="https://easyreserve.mk/index.php/privacy-policy/">{{'termsCond' | translate}}</a>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="settingsModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{'settings' | translate}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setModalValue('settingsModal', false)">{{'close' | translate}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-list>
            <ion-item>
              <ion-select value="mkd" placeholder="Изберете јазик">
                <ion-select-option value="mkd">Македонски Јазик</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-item>
            <ion-checkbox slot="start" [indeterminate]="true"></ion-checkbox>
            <ion-label>Црна тема</ion-label>
          </ion-item>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-item>
            <ion-checkbox slot="start" checked="{{notif}}" (click)="allowNotification($event)"></ion-checkbox>
            <ion-label>Дозволи нотификации</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="userProfileModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{'profile' | translate}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setModalValue('myProfileModal', false)">{{'close' | translate}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">{{'name' | translate}}</div>
          <ion-item fill="outline" mode="md">
            <ion-input
              [formControl]="userForm.controls['name']"
              type="text"
              autocomplete="off"
              autocorrect="off"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">{{'name' | translate}} {{'isRequired' | translate}}</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">{{'surname' | translate}}</div>
          <ion-item fill="outline" mode="md">
            <ion-input
              [formControl]="userForm.controls['surname']"
              type="text"
              autocomplete="off" 
              autocorrect="off"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.surname.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
            <div *ngIf="f.surname.errors.required">{{'surname' | translate}} {{'isRequired' | translate}}</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">{{'email' | translate}}</div>
          <ion-item fill="outline" mode="md">
            <ion-input
              [formControl]="userForm.controls['email']"
              type="email"
              inputmode="email"
              autocomplete="off"
              autocorrect="off"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">{{'email' | translate}} {{'isRequired' | translate}}</div>
            <div *ngIf="f.email.errors.email">{{'emailIsNotValid' | translate}}</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">{{'phoneNumber' | translate}}</div>
          <ion-item fill="outline" mode="md">
            <ion-input
              [formControl]="userForm.controls['phone']"
              type="tel"
              autocomplete="off"
              autocorrect="off"
              autofocus
              placeholder="77 123 456"
              [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
            <div *ngIf="f.phone.errors.required">{{'phoneNumber' | translate}} {{'isRequired' | translate}}</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button size="large" (click)="updateUser()">
            <span>{{'save' | translate}}</span>    
          </ion-button>
        </ion-col>
      </ion-row> 
    </ion-content>
    <ion-content  id="loading" *ngIf="loading">
      <div>
        <ion-spinner name="dots" color="secondary"></ion-spinner>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="employeeProfileModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{'profile' | translate}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setModalValue('myProfileModal', false)">{{'close' | translate}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom" *ngIf="isManager">
          <ion-list>
            <div class="ion-text-center">{{'vraboten' | translate}}</div>
            <ion-item fill="outline" class="mt-5">
              <ion-select (ionChange)="onChangeEmp()"  [formControl]="empForm.controls['userId']">
                <ion-select-option *ngFor="let emp of employees" value={{emp.userId}}>{{emp.displayName}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">{{'name' | translate}}</div>
          <ion-item fill="outline" mode="md">
            <ion-input
              [formControl]="userForm.controls['name']"
              type="text"
              autocomplete="off"
              autocorrect="off"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">{{'name' | translate}} {{'isRequired' | translate}}</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">{{'surname' | translate}}</div>
          <ion-item fill="outline" mode="md">
            <ion-input
              [formControl]="userForm.controls['surname']"
              type="text"
              autocomplete="off" 
              autocorrect="off"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.surname.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
            <div *ngIf="f.surname.errors.required">{{'name' | translate}} {{'isRequired' | translate}}</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">{{'email' | translate}}</div>
          <ion-item fill="outline" mode="md">
            <ion-input
              [formControl]="userForm.controls['email']"
              type="email"
              inputmode="email"
              autocomplete="off"
              autocorrect="off"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">{{'email' | translate}} {{'isRequired' | translate}}</div>
            <div *ngIf="f.email.errors.email">{{'emailIsNotValid' | translate}}</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">{{'phoneNumber' | translate}}</div>
          <ion-item fill="outline" mode="md">
            <ion-input
              [formControl]="userForm.controls['phone']"
              type="tel"
              autocomplete="off"
              autocorrect="off"
              autofocus
              placeholder="77 123 456"
              [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
            <div *ngIf="f.phone.errors.required">{{'phoneNumber' | translate}} {{'isRequired' | translate}}</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" style="margin-top: 5% !important;">
          <div class="ion-text-center">{{'workingHours' | translate}}</div>
        </ion-col>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-item fill="outline" mode="md">
            <ion-label position="fixed">{{'mon' | translate}}</ion-label>
            <ion-input [formControl]="workingHours.controls['mon']"></ion-input>
          </ion-item>
          <div *ngIf="monError" class="invalid-feedback">
            <div *ngIf="monError">{{'notValidFormat' | translate}}</div>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-item fill="outline" mode="md">
            <ion-label position="fixed">{{'tue' | translate}}</ion-label>
            <ion-input [formControl]="workingHours.controls['tue']"></ion-input>
          </ion-item>
          <div *ngIf="tueError" class="invalid-feedback">
            <div *ngIf="tueError">{{'notValidFormat' | translate}}</div>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-item fill="outline" mode="md">
            <ion-label position="fixed">{{'wen' | translate}}</ion-label>
            <ion-input [formControl]="workingHours.controls['wed']"></ion-input>
          </ion-item>
          <div *ngIf="wedError" class="invalid-feedback">
            <div *ngIf="wedError">{{'notValidFormat' | translate}}</div>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-item fill="outline" mode="md">
            <ion-label position="fixed">{{'thu' | translate}}</ion-label>
            <ion-input [formControl]="workingHours.controls['thu']"></ion-input>
          </ion-item>
          <div *ngIf="thuError" class="invalid-feedback">
            <div *ngIf="thuError">{{'notValidFormat' | translate}}</div>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-item fill="outline" mode="md">
            <ion-label position="fixed">{{'fri' | translate}}</ion-label>
            <ion-input [formControl]="workingHours.controls['fri']"></ion-input>
          </ion-item>
          <div *ngIf="friError" class="invalid-feedback">
            <div *ngIf="friError">{{'notValidFormat' | translate}}</div>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-item fill="outline" mode="md">
            <ion-label position="fixed">{{'sat' | translate}}</ion-label>
            <ion-input [formControl]="workingHours.controls['sat']"></ion-input>
          </ion-item>
          <div *ngIf="satError" class="invalid-feedback">
            <div *ngIf="satError">{{'notValidFormat' | translate}}</div>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-item fill="outline" mode="md">
            <ion-label position="fixed">{{'sun' | translate}}</ion-label>
            <ion-input [formControl]="workingHours.controls['sun']"></ion-input>
          </ion-item>
          <div *ngIf="sunError" class="invalid-feedback">
            <div *ngIf="sunError">{{'notValidFormat' | translate}}</div>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-margin-bottom">
          <ion-item>
            <ion-checkbox [checked]="showForReservation" (ionChange)="checkboxClick($event)" slot="start"></ion-checkbox>
            <ion-label>{{'showReservable' | translate}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button size="large" (click)="updateEmployee()">
            <span>{{'save' | translate}}</span>    
          </ion-button>
        </ion-col>
      </ion-row> 
      <ion-row style="margin-top: 10px;">
        <ion-col size="12" style="margin-top: 5% !important;">
          <div class="ion-text-center">{{'services' | translate}}</div>
        </ion-col>
        <ion-card class="serviceCard" *ngFor="let services of servicesList">
          <ion-card-header>
            <ion-row>
              <ion-col class="trash" size="12">
                <ion-icon name="trash-outline" (click)="removeServiceAlert(services.serviceId)"></ion-icon>
              </ion-col>
              <ion-col size="3" class="card-col">
                <img style="image-rendering: pixelated;" src={{services.image}} width="50" height="50">
              </ion-col>
              <ion-col size="9" class="card-col">
                <ion-row>
                    <ion-col size="6">{{'service' | translate}}</ion-col>
                    <ion-col size="3">{{'time' | translate}}</ion-col>
                    <ion-col size="3">{{'price' | translate}}</ion-col>
                    <ion-col size="6"><b>{{services.name}}</b></ion-col>
                    <ion-col size="3"><b>{{services.duration}}</b></ion-col>
                    <ion-col size="3"><b>{{services.price}}</b></ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-header>
        </ion-card>
      </ion-row>
    </ion-content>
    <ion-content id="loading" *ngIf="loading">
      <div>
        <ion-spinner name="dots" color="secondary"></ion-spinner>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="passwordModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{'changePassword' | translate}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setModalValue('passwordModal', false)">{{'close' | translate}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">{{'oldPass' | translate}}</div>
          <ion-item fill="outline" mode="md">
            <ion-input
             [formControl]="passForm.controls['oldPass']"
              type="password"
              autocomplete="off"
              autocorrect="off"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && p.oldPassword.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && p.oldPassword.errors" class="invalid-feedback">
            <div *ngIf="p.oldPassword.errors.required">{{'passwordIsRequired' | translate}}</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">{{'newPass' | translate}}</div>
          <ion-item fill="outline" mode="md">
            <ion-input
              [formControl]="passForm.controls['newPassword']"
              type="password"
              autocomplete="off" 
              autocorrect="off"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && p.newPassword.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && p.newPassword.errors" class="invalid-feedback">
            <div *ngIf="p.newPassword.errors.required">{{'passwordIsRequired' | translate}}</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">{{'repeatPass' | translate}}</div>
          <ion-item fill="outline" mode="md">
            <ion-input
              [formControl]="passForm.controls['newPasswordRepeat']"
              type="password"
              autocomplete="off"
              autocorrect="off"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && p.newPasswordRepeat.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && p.newPasswordRepeat.errors" class="invalid-feedback">
            <div *ngIf="p.newPasswordRepeat.errors.required">{{'passwordIsRequired' | translate}}</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button size="large" (click)="changePass()">
            <span>{{'save' | translate}}</span>    
          </ion-button>
        </ion-col>
      </ion-row> 
    </ion-content>
    <ion-content  id="loading" *ngIf="loading">
      <div>
        <ion-spinner name="dots" color="secondary"></ion-spinner>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="removeProfileModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{'deleteProfile' | translate}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setModalValue('removeProfileModal', false)">{{'close' | translate}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <p style="text-align: -webkit-center;">
        {{'deleteProfileText' | translate}} 
      </p>
      <h3 style="text-align: center; margin-top: 15%;">{{'areYouSure' | translate}} </h3>
      <ion-row>
        <ion-col class="ion-text-center mt-5">
          <ion-button size="large" (click)="removeMyProfile()">
            <span>{{'delete' | translate}} </span>    
          </ion-button>
        </ion-col>
      </ion-row> 
    </ion-content>
    <ion-content  id="loading" *ngIf="loading">
      <div>
        <ion-spinner name="dots" color="secondary"></ion-spinner>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="contactModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{'contact' | translate}} </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setModalValue('contactModal', false)">{{'close' | translate}} </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">{{'subject' | translate}} </div>
          <ion-item fill="outline" mode="md">
            <ion-input
             [formControl]="contactForm.controls['title']"
              type="text"
              autocomplete="off"
              autocorrect="off"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && m.title.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && m.title.errors" class="invalid-feedback">
            <div *ngIf="m.title.errors.required">{{'subject' | translate}} {{'isRequired' | translate}} </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">{{'message' | translate}} </div>
          <ion-item fill="outline" mode="md">
            <ion-textarea 
            [formControl]="contactForm.controls['message']" 
            placeholder="{{'writeMessageHere' | translate}}"
            [autoGrow]="true"
            [ngClass]="{ 'is-invalid': submitted && m.message.errors }">
            </ion-textarea>
          </ion-item>
          <div *ngIf="submitted && m.message.errors" class="invalid-feedback">
            <div *ngIf="m.message.errors.required">{{'message' | translate}} {{'isRequired' | translate}} </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button size="large" (click)="sendMessage()">
            <span>{{'send' | translate}} {{'message' | translate}} </span>    
          </ion-button>
        </ion-col>
      </ion-row> 
    </ion-content>
    <ion-content  id="loading" *ngIf="loading">
      <div>
        <ion-spinner name="dots" color="secondary"></ion-spinner>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="serviceModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{'services' | translate}} </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setModalValue('serviceModal', false)">{{'close' | translate}} </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="all">
          <ion-label>{{'all' | translate}} {{'services' | translate}} </ion-label>
        </ion-segment-button>
        <ion-segment-button value="new">
          <ion-label>{{'new' | translate}} {{'service' | translate}} </ion-label>
        </ion-segment-button>
      </ion-segment>

      <div [ngSwitch]="segment">
        <ion-row *ngSwitchCase="'all'">
          <ion-card class="serviceCard" *ngFor="let services of servicesList">
            <ion-card-header>
              <ion-row>
                <ion-col class="trash" size="12">
                  <ion-icon name="trash-outline" (click)="removeServiceDetailAlert(services.serviceId)"></ion-icon>
                </ion-col>
                <ion-col size="3" class="card-col" (click)="openService(services, true)">
                  <img src={{services.image}} width="50" height="50" style="margin-top: -20px;">
                </ion-col>
                  <ion-col size="9" class="card-col" (click)="openService(services, true)" style="text-align: -webkit-center;">
                    <ion-row *ngFor="let info of services.serviceInfoList">
                        <!-- <ion-col size="6" *ngIf="info.language == selectedLang">Услуга</ion-col>
                        <ion-col size="3" *ngIf="info.language == selectedLang">Време</ion-col>
                        <ion-col size="3" *ngIf="info.language == selectedLang">Цена</ion-col> -->
                        <ion-col size="6" *ngIf="info.language == selectedLang"><b>{{info.name}}</b></ion-col>
                        <ion-col size="3" *ngIf="info.language == selectedLang"><b>{{services.duration}}</b></ion-col>
                        <ion-col size="3" *ngIf="info.language == selectedLang"><b>{{services.price}}</b></ion-col>
                    </ion-row>
                  </ion-col>
              </ion-row>
            </ion-card-header>
          </ion-card>
        </ion-row>
        <ion-row *ngSwitchCase="'new'">
            <ion-col size="12" class="ion-margin-bottom">
                <h4 style="text-align-last: center;">{{'createNewService' | translate}} </h4>
            </ion-col>
            <ion-col size="12">
              <div class="ion-text-center">{{'language' | translate}}</div>
              <ion-item style="margin-top: 5px">
                <ion-select [formControl]="serviceForm.controls['language']">
                  <ion-select-option *ngFor="let lang of availableLanguages" value={{lang.code}}>{{lang.language}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <div class="ion-text-center">{{'choosePicture' | translate}}</div>
              <ion-slides pager style="margin-top: 10px; margin-bottom: 10px;">
                <ion-slide *ngFor="let image of images">
                  <ion-row class="card-row">
                    <ion-col class="card-wrapper">       
                      <div class="card">
                        <img class="card-img img-cov" src={{image}} alt="">
                      </div>
                    </ion-col>  
                  </ion-row>
                </ion-slide>
              </ion-slides>
            </ion-col>
            <ion-col size="12" class="ion-margin-bottom">
              <div class="ion-text-center">{{'name' | translate}}</div>
              <ion-item fill="outline" mode="md">
                <ion-input
                 [formControl]="serviceForm.controls['name']"
                  type="text"
                  autocomplete="off"
                  autocorrect="off"
                  autofocus
                  [ngClass]="{ 'is-invalid': submitted && s.name.errors }"
                ></ion-input>
              </ion-item>
              <div *ngIf="submitted && s.name.errors" class="invalid-feedback">
                <div *ngIf="s.name.errors.required">{{'name' | translate}} {{'isRequired' | translate}}</div>
              </div> 
            </ion-col>
            <ion-col size="12" class="ion-margin-bottom">
              <div class="ion-text-center">{{'desc' | translate}}</div>
              <ion-item fill="outline" mode="md">
                <ion-input
                [formControl]="serviceForm.controls['description']" 
                autocomplete="off"
                autocorrect="off"
                [ngClass]="{ 'is-invalid': submitted && s.description.errors }">
                </ion-input>
              </ion-item>
              <div *ngIf="submitted && s.description.errors" class="invalid-feedback">
                <div *ngIf="s.description.errors.required">{{'desc' | translate}} {{'isRequired' | translate}}</div>
              </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-bottom">
              <div class="ion-text-center">{{'price' | translate}}</div>
              <ion-item fill="outline" mode="md">
                <ion-input 
                [formControl]="serviceForm.controls['price']" 
                autocomplete="off"
                autocorrect="off"
                [ngClass]="{ 'is-invalid': submitted && s.price.errors}">
                </ion-input>
              </ion-item>
              <div *ngIf="submitted && s.price.errors" class="invalid-feedback">
                <div *ngIf="s.price.errors.required">{{'price' | translate}} {{'isRequired' | translate}}</div>
              </div>
            </ion-col>
            <ion-col size="12" class="ion-margin-bottom">
              <div class="ion-text-center">{{'duration' | translate}}</div>
              <ion-item style="margin-top: 5px">
                <ion-select [formControl]="serviceForm.controls['duration']">
                  <ion-select-option value="10">10 {{'minutes' | translate}}</ion-select-option>
                  <ion-select-option value="20">20 {{'minutes' | translate}}</ion-select-option>
                  <ion-select-option value="30">30 {{'minutes' | translate}}</ion-select-option>
                  <ion-select-option value="40">40 {{'minutes' | translate}}</ion-select-option>
                  <ion-select-option value="50">50 {{'minutes' | translate}}</ion-select-option>
                  <ion-select-option value="60">60 {{'minutes' | translate}}</ion-select-option>
                  <ion-select-option value="70">70 {{'minutes' | translate}}</ion-select-option>
                  <ion-select-option value="80">80 {{'minutes' | translate}}</ion-select-option>
                  <ion-select-option value="90">90 {{'minutes' | translate}}</ion-select-option>
                  <ion-select-option value="100">100 {{'minutes' | translate}}</ion-select-option>
                  <ion-select-option value="110">110 {{'minutes' | translate}}</ion-select-option>
                  <ion-select-option value="120">120 {{'minutes' | translate}}</ion-select-option>
                  <ion-select-option value="130">130 {{'minutes' | translate}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col class="ion-text-center">
              <ion-button size="large" (click)="createNewService()">
                <span>{{'save' | translate}}</span>    
              </ion-button>
            </ion-col>
        </ion-row>
      </div>
    </ion-content>
    <ion-content  id="loading" *ngIf="loading">
      <div>
        <ion-spinner name="dots" color="secondary"></ion-spinner>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="serviceDetail">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{serviceName}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="openService('', false)">{{'close' | translate}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
    <ion-row>
     <ion-col size="12">
        <div class="ion-text-center">{{'language' | translate}}</div>
        <ion-item style="margin-top: 5px">
          <ion-select (ionChange)="changeUpdateServiceLanguage()" [formControl]="serviceForm.controls['language']">
            <ion-select-option *ngFor="let lang of availableLanguages" value={{lang.code}}>{{lang.language}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <div class="ion-text-center">{{'choosePicture' | translate}}</div>
        <ion-slides pager style="margin-top: 10px; margin-bottom: 10px;">
          <ion-slide *ngFor="let image of images">
            <ion-row class="card-row">
              <ion-col class="card-wrapper">       
                <div class="card">
                  <img class="card-img img-cov" src={{image}} alt="">
                </div>
              </ion-col>  
            </ion-row>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col size="12" class="ion-margin-bottom">
        <div class="ion-text-center">{{'name' | translate}}</div>
        <ion-item fill="outline" mode="md">
          <ion-input
           [formControl]="serviceForm.controls['name']"
            type="text"
            autocomplete="off"
            autocorrect="off"
            autofocus
            [ngClass]="{ 'is-invalid': submitted && s.name.errors }"
          ></ion-input>
        </ion-item>
        <div *ngIf="submitted && s.name.errors" class="invalid-feedback">
          <div *ngIf="s.name.errors.required">{{'name' | translate}} {{'isRequired' | translate}}</div>
        </div> 
      </ion-col>
      <ion-col size="12" class="ion-margin-bottom">
        <div class="ion-text-center">{{'desc' | translate}}</div>
        <ion-item fill="outline" mode="md">
          <ion-input
          [formControl]="serviceForm.controls['description']" 
          autocomplete="off"
          autocorrect="off"
          [ngClass]="{ 'is-invalid': submitted && s.description.errors }">
          </ion-input>
        </ion-item>
        <div *ngIf="submitted && s.description.errors" class="invalid-feedback">
          <div *ngIf="s.description.errors.required">{{'desc' | translate}} {{'isRequired' | translate}}</div>
        </div>
      </ion-col>
      <ion-col size="12" class="ion-margin-bottom">
        <div class="ion-text-center">{{'price' | translate}}</div>
        <ion-item fill="outline" mode="md">
          <ion-input 
          [formControl]="serviceForm.controls['price']" 
          autocomplete="off"
          autocorrect="off"
          [ngClass]="{ 'is-invalid': submitted && s.price.errors}">
          </ion-input>
        </ion-item>
        <div *ngIf="submitted && s.price.errors" class="invalid-feedback">
          <div *ngIf="s.price.errors.required">{{'price' | translate}} {{'isRequired' | translate}}</div>
        </div>
      </ion-col>
      <ion-col size="12" class="ion-margin-bottom">
        <div class="ion-text-center">{{'duration' | translate}}</div>
        <ion-item class="mt-5">
          <ion-select [formControl]="serviceForm.controls['duration']">
            <ion-select-option value="10">10 {{'minutes' | translate}}</ion-select-option>
            <ion-select-option value="20">20 {{'minutes' | translate}}</ion-select-option>
            <ion-select-option value="30">30 {{'minutes' | translate}}</ion-select-option>
            <ion-select-option value="40">40 {{'minutes' | translate}}</ion-select-option>
            <ion-select-option value="50">50 {{'minutes' | translate}}</ion-select-option>
            <ion-select-option value="60">60 {{'minutes' | translate}}</ion-select-option>
            <ion-select-option value="70">70 {{'minutes' | translate}}</ion-select-option>
            <ion-select-option value="80">80 {{'minutes' | translate}}</ion-select-option>
            <ion-select-option value="90">90 {{'minutes' | translate}}</ion-select-option>
            <ion-select-option value="100">100 {{'minutes' | translate}}</ion-select-option>
            <ion-select-option value="110">110 {{'minutes' | translate}}</ion-select-option>
            <ion-select-option value="120">120 {{'minutes' | translate}}</ion-select-option>
            <ion-select-option value="130">130 {{'minutes' | translate}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col  size="12" class="ion-text-center">
        <ion-button size="large" (click)="updateService()">
          <span>{{'edit' | translate}}</span>    
        </ion-button>
      </ion-col>
    </ion-row>
      <ion-col size="12">
        <h4 style="text-align: -webkit-center;">{{'redGreenText' | translate}}</h4>
        <br/>
        <h6 style="text-align-last: center; font-size: 13px;">{{'swipeLeft' | translate}}</h6>
      </ion-col>
      <ion-list *ngFor="let service of serviceDetailsUsers">
        <ion-item-sliding>
          <ion-item class="exist" *ngIf="service.hasService == '1'">
            <ion-label>{{service.displayName}}</ion-label>
          </ion-item>
          <ion-item class="notExist" *ngIf="service.hasService == '0'">
            <ion-label>{{service.displayName}}</ion-label>
          </ion-item>
          <ion-item-options *ngIf="service.hasService == '1'">
            <ion-item-option color="danger" (click)="removeSelectedServiceFromEmp(service.serviceId, service.userId)">Избриши услуга</ion-item-option>
          </ion-item-options>
          <ion-item-options *ngIf="service.hasService == '0'">
            <ion-item-option color="success" (click)="addServiceToEmployee(service.serviceId, service.userId)">Додади услуга</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>      
    </ion-content>
    <ion-content  id="loading" *ngIf="loading">
      <div>
        <ion-spinner name="dots" color="secondary"></ion-spinner>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="companyModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{'company' | translate}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setModalValue('companyModal', false)">{{'close' | translate}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">{{'name' | translate}}</div>
          <ion-item fill="outline" mode="md">
            <ion-input
             [formControl]="companyForm.controls['name']"
              type="text"
              autocomplete="off"
              autocorrect="off"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && c.name.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && c.name.errors" class="invalid-feedback">
            <div *ngIf="c.name.errors.required">{{'name' | translate}} {{'isRequired' | translate}}</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">{{'address' | translate}}</div>
          <ion-item fill="outline" mode="md">
            <ion-input
             [formControl]="companyForm.controls['address']"
              type="text"
              autocomplete="off"
              autocorrect="off"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && c.address.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && c.address.errors" class="invalid-feedback">
            <div *ngIf="c.address.errors.required">{{'address' | translate}} {{'isRequired' | translate}}</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">{{'phoneNumber' | translate}}</div>
          <ion-item fill="outline" mode="md">
            <ion-input
             [formControl]="companyForm.controls['mobilePhone']"
              type="text"
              autocomplete="off"
              autocorrect="off"
              autofocus
              [ngClass]="{ 'is-invalid': submitted && c.mobilePhone.errors }"
            ></ion-input>
          </ion-item>
          <div *ngIf="submitted && c.mobilePhone.errors" class="invalid-feedback">
            <div *ngIf="c.mobilePhone.errors.required">{{'phoneNumber' | translate}} {{'isRequired' | translate}}</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button size="large" (click)="updateCompany()">
            <span>{{'save' | translate}}</span>    
          </ion-button>
        </ion-col>
      </ion-row> 
      <ion-row>
        <ion-col class="ion-text-center">
          <h3>{{'billing' | translate}}</h3>
        </ion-col>
      </ion-row> 
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">{{'billingPlan' | translate}}</div>
          <ion-item fill="outline" mode="md">
            <ion-input
             [formControl]="companyForm.controls['packagePlan']"
              type="text"
              autocomplete="off"
              autocorrect="off"
              [readonly]="true"
              autofocus
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-bottom">
          <div class="ion-text-center">{{'paidUntil' | translate}}</div>
          <ion-item fill="outline" mode="md">
            <ion-input
              [formControl]="companyForm.controls['availableUntill']" 
              type="text"
              autocomplete="off"
              autocorrect="off"
              autofocus
              [readonly]="true"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-content>
    <ion-content  id="loading" *ngIf="loading">
      <div>
        <ion-spinner name="dots" color="secondary"></ion-spinner>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
