ion-content {
    --background: url("../../assets/imgs/settings-bg.png") no-repeat 50% 50%;
  }

#loading{
  --background: transparent;
    display: contents;
  div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    ion-spinner {
      transform: scale(3);
    }
  }
}

.ion-text-wrap{
  width: 250px;
}

#container {
    text-align: center;
}
  
.header{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  margin-bottom: 20px;
  span{
    text-align: center;
    color: #2B2C34;
  }
  :first-child{
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 44px;
  }
}

.ios .header{
  padding-top: 40px !important;
}

.invalid-feedback{
  margin-top: 10px !important;
  margin-bottom: -10px !important;
  color: red !important ;
  text-align-last: center;
  font-size: 12px;
}

.col-card {
    height: 4rem !important;
}


ion-chip span {
  font-size: 9px;
  color:#2B2C34;
}

ion-chip {
  background-color: #EAC646;
}

ion-card-header, ion-card-content{
  padding: 3px;
}

.trash{
  text-align: right;
  ion-icon{
    margin-right: 4px;
  }
}
.serviceCard {
  border-left: 2px solid #EAC646;
  border-top: 2px solid #EAC646;
  width: 100%;
  margin:2px;
}

.card-img{
  border-radius: 20px;
  height: 140px;
  width: 190px;
}

ion-segment {
  background-color: #2B2C34;
  border-radius: 7px;
  height: 40px;
  padding: 2px;
  margin-bottom: 21px;
  margin-top: 15px;
}

ion-segment-button{
  color:white;
  --color-checked: #2B2C34 !important;
  --backgorund-checked: #ffffff !important;
}

ion-segment-button::part(indicator-background) {
  background: #ffffff;
}

/* Material Design styles */
ion-segment-button.md::part(native) {
  color: #000;
}

.segment-button-checked.md::part(native) {
  color: #08a391;
}

ion-segment-button.md::part(indicator-background) {
  height: 4px;
}

/* iOS styles */
ion-segment-button.ios::part(native) {
  color: #ffffff;
}

.segment-button-checked.ios::part(native) {
  color: #2B2C34;
}

ion-segment-button.ios::part(indicator-background) {
  border-radius: 5px;
}

.notExist {
  --background: rgb(219, 60, 60) !important;
} 

.exist { 
  --background: #208949 !important;
}


.img-cov { 
  object-fit: cover;
  image-rendering: pixelated;
}